* {

    box-sizing: border-box;
}


body {
    font-size: 26px;
    background-color: #333;
    color: white;
    font-family: 'Poppins', sans-serif;

}


div{
    margin: 0 auto;
    height: 200px;
    width: 600px;
    border: 3px solid black;

}

.red{
    background-color: tomato;
}

.blue{
    position: relative;
    background-color: royalblue;
    margin: 5px auto;
    top: 50px;
    left: 15px;
}

.green{
    position: relative;
    background-color: yellowgreen;
    z-index: 10;;
}

