* {
    box-sizing: border-box;
    margin: 10px;
    padding: 0;

}


body{
    font-size: 32px;
}


div p {
    color: red;
}

.child > p {
    font-weight: bold;
    text-decoration: line-through;
}

#test ~ div {
    background-color: blue;
}

main + p {
    text-transform: uppercase;
}