* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}


body {

    padding: 20px;
    font-family: 'Comfortaa', cursive;
    font-size: 32px;
    height: 100vh;
    color: rgb(255, 255, 255);
    background-color: #2f4353;
    background-image: linear-gradient(315deg, #2f4353 0%, #d2ccc4 74%);
    background-attachment: fixed;

}

p {
    /* text-shadow: X Y ROZMYCIE KOLOR; */
    text-shadow: 10px 5px 10px gold ;
    color: rgb(92, 79, 8);
    text-align: left;
    word-spacing: 10px;
    line-height: 200px;
    
}